@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-novice {
   background-color:  #EC8682;
}

.bg-novice-soft {
    background-color:  #FBEBEC;
 }

 .bg-novice-hover:hover {
    background-color:  #F8D2D5;
 }

.bg-beginner {
    background-color: #E78B63;
}

.bg-beginner-soft {
    background-color: #FBECE4;
}

.bg-beginner-hover:hover {
    background-color: #F6D4C3;
}

.bg-skillful {
    background-color: #Df9737;
}

.bg-skillful-soft {
    background-color: #FCF2D0;
}

.bg-skillful-hover:hover {
    background-color: #F7DC96;
}

.bg-experienced {
    background-color: #69B87B;
}

.bg-experienced-soft {
    background-color: #E9F4ED;
}

.bg-experienced-hover:hover {
    background-color: #CCE3D3;
}

.bg-master {
    background-color: #9CA1F5;
}

.bg-master-soft {
    background-color: #F1F2FE;
}

.bg-master-hover:hover {
    background-color: #DCDEFC;
}